openapi: 3.0.0
info:
  title: JSON_API
  version: '1.0'
  contact:
    name: Nelsen Lim
    email: nelsen@dealpos.com
  description: DEALPOS DEVELOPER API
servers:
  - url: 'https://nelsenlim.dealpos.net/api/v3'
paths:
  /Category:
    post:
      summary: ''
      operationId: post-Category
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    ID: 273d1184-a64b-4d2d-ad98-8b38b19c3ffb
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  Name: Top/Men
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
          application/EDIFACT:
            schema:
              type: object
              properties: {}
          application/atom+xml:
            schema:
              type: object
              properties: {}
          application/font-woff:
            schema:
              type: object
              properties: {}
          application/gzip:
            schema:
              type: object
              properties: {}
          application/javascript:
            schema:
              type: object
              properties: {}
          application/octet-stream:
            schema:
              type: object
              properties: {}
        description: ''
      tags:
        - category
      description: |-
        Create a Category based on name.

        You must have "**EDIT**" role in "**Products**" Module OR "**EDIT**" role in "**Global**" Module
    delete:
      summary: ''
      operationId: delete-Category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    ID: 273d1184-a64b-4d2d-ad98-8b38b19c3ffb
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  Name: Food/Snack/Pastries
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
          application/EDIFACT:
            schema:
              type: object
              properties: {}
          application/atom+xml:
            schema:
              type: object
              properties: {}
          application/font-woff:
            schema:
              type: object
              properties: {}
          application/gzip:
            schema:
              type: object
              properties: {}
          application/javascript:
            schema:
              type: object
              properties: {}
          application/octet-stream:
            schema:
              type: object
              properties: {}
          application/ogg:
            schema:
              type: object
              properties: {}
          application/pdf:
            schema:
              type: object
              properties: {}
          application/postscript:
            schema:
              type: object
              properties: {}
          application/soap+xml:
            schema:
              type: object
              properties: {}
          application/x-bittorrent:
            schema:
              type: object
              properties: {}
          application/x-tex:
            schema:
              type: object
              properties: {}
          application/xhtml+xml:
            schema:
              type: object
              properties: {}
          application/xml-dtd:
            schema:
              type: object
              properties: {}
          application/xop+xml:
            schema:
              type: object
              properties: {}
          application/zip:
            schema:
              type: object
              properties: {}
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
          new:
            schema:
              type: object
              properties: {}
      tags:
        - category
      description: |-
        Delete a Category based on name

        You must have "**EDIT**" role in "**Products**" Module OR "**EDIT**" role in "**Global**" Module
    get:
      summary: ''
      operationId: get-Category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    - ID: 328ca218-0f0b-449c-8d0d-2a55113ce431
                      Name: Top/Men
                      Model: Men
                    - ID: ed8e8964-d3ab-4101-834b-426b85b241b0
                      Name: Top
                      Model: Top
                    - ID: dfe170ce-7599-45c9-b816-4bcd4cc43adc
                      Name: Bottom/Men
                      Model: Men
                    - ID: fb839ad1-c707-4c58-a822-5c76aac5d129
                      Name: Bottom/Women
                      Model: Women
                    - ID: 985b5db6-211d-407e-87a4-9b9549d70b5e
                      Name: Shoes/Men
                      Model: Men
                    - ID: d88d4e4d-9f8d-43ab-8fa8-9d659774e70b
                      Name: Shoes/Women
                      Model: Women
                    - ID: 49295182-9111-4019-9450-e05a54a0fedc
                      Name: Bottom
                      Model: Bottom
                    - ID: c932bb44-63ea-4469-b6b6-e99f4de5b497
                      Name: Shoes
                      Model: Shoes
                    - ID: c7cc81be-1047-40f9-9376-eb850bc755a7
                      Name: Top/Women
                      Model: Women
          headers: {}
      description: |-
        List a Category

        You must have "**VIEW**" role in "**Products**" Module
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value: {}
      tags:
        - category
      security:
        - jwt-token:
            - Authorization
      parameters: []
    put:
      summary: ''
      operationId: put-Category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    ID: 7dc2d2f8-9143-4d3b-bff5-6c00f3f52a23
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  Name: Top/Men
                  Rename: Top/Women
      description: |-
        Update a category based on name

        You must have "**EDIT**" role in "**Products**" Module OR "**EDIT**" role in "**Global**" Module
      tags:
        - category
components:
  schemas: {}
  securitySchemes:
    jwt-token:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://nelsenlim.dealpos.net/api/V3/Token'
          scopes:
            Authorization: 'https://{$$.env.host}/api/V3/Token'
security:
  - jwt-token:
      - Authorization
